{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="fw-bold text-center">Organize Your Life!</h1>
  <p class="text-muted text-center mb-4">
    Sign up to stay on top of your tasks and achieve your goals efficiently.
  </p>
  <div class="card mx-auto shadow-sm" style="max-width: 500px">
    <div class="card-body">
      <h3 class="card-title text-center text-success fw-bold">Signup</h3>
      <form method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset>
          <div class="mb-3">
            {{ form.username.label(class="form-label") }} {% if
            form.username.errors %} {{ form.username(class="form-control
            form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.username(class="form-control form-control-md") }}
            {% endif %}
          </div>

          <div class="mb-3">
            {{ form.password.label(class="form-label") }} {% if
            form.password.errors %} {{ form.password(class="form-control
            form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.password(class="form-control form-control-md") }}
            {% endif %}
          </div>

          <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }} {% if
            form.confirm_password.errors %} {{
            form.confirm_password(class="form-control form-control-md
            is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.confirm_password(class="form-control
            form-control-md") }} {% endif %}
          </div>

          <div class="d-grid">
            {{ form.submit(class="btn btn-primary btn-md") }}
          </div>
        </fieldset>
      </form>

      <div class="text-center pt-3">
        <small class="text-muted">Already Have An Account?</small>
        <a href="/api/v1/auth/login" class="text-decoration-none ms-1">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
