{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="fw-bold text-primary">Task Manager</h1>
        <a class="btn btn-success btn-sm" href="/api/v1/tasks/add"
          >+ Add Task</a
        >
      </div>

      <h2>My Tasks</h2>
      <div class="card shadow-sm">
        <div class="card-body">
          {% if tasks %}
          <ul class="list-group">
            {% for task in tasks %}
            <a
                href="/api/v1/tasks/{{task.id}}"
                class="decoration-none"
              >
            <li class="d-flex justify-content-between align-items-center"></li>
      
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="task-{{ loop.index }}"
                    {%
                    if
                    task.completed
                    %}checked{%
                    endif
                    %}
                    onchange="toggleTask('{{ task.id }}', 'get_tasks', event)"
                  />
                  <label
                    class="form-check-label {% if task.completed %}text-decoration-line-through text-muted{% else %}fw-bold{% endif %}"
                    for="task-{{ loop.index }}"
                  >
                    {{ task.title }}
                  </label>
                </div>
                {% if task.completed %}
                <span class="badge bg-success">Completed</span>
                {% else %}
                <span class="badge bg-warning">Pending</span>
                {% endif %}
             
            </li>
          </a>

            {% endfor %}
          </ul>
          {% else %}
          <p class="text-center text-muted">
            No tasks available. Start by adding a new task!
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleTask(taskId, path, event) {
    event.stopPropagation(); 
    fetch(`/api/v1/tasks/${taskId}/toggle?path=${path}`);
  }
</script>
{% endblock content %}
